html{
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
*{
box-sizing: border-box;
}
body{
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.login{
width: 500px;
margin: 50px auto;
padding: 40px;
background-color: white;
border-radius: 10px;
}
.login__heading{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
}
.login-field{
  display: flex;
  align-items: center;
  background-color: #f2f7ff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.login-icon{
  color: #344667;
  font-size: 16px;
  width: 20px;
  text-align: center;
  
}
.login-input{
  font-family: "Poppins", sans-serif;
  border: 0;
  padding: 0 0 0 16px;
  background-color: transparent;
  width: 100%;
  outline: none;
  font-size: 14px;
}
.login-submit{
  color: white;
  border-radius: 10px;
  display: block;
  width: 100%;
  border: 0;
  padding: 16px 10px; 
   background-color: #435ebe;
   font-size: 14px;
   font-family: "Poppins", sans-serif;
   cursor: pointer;
   outline: none;
   border: 1px solid #eee;
}
.login__forgot--password{
  display: block;
  text-decoration: none;
  text-align: right;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 600;
  color: #435ebe;
  }
